{% if address.billingRecipientType == constant('Webgriffe\\SyliusItalianInvoiceableOrderPlugin\\Model\\ItalianInvoiceableAddressInterface::BILLING_RECIPIENT_TYPE_COMPANY') %}
    {% if address.company %}
        <strong>{{ address.company }}</strong><br/>
    {% endif %}
    {% if address.vatNumber %}
        {{ 'webgriffe_sylius_italian_invoiceable_order.ui.address.vat_number_short'|trans }}:
        {{ address.vatNumber }}<br />
    {% endif %}
    <span {{ sylius_test_html_attribute('full-name', "%s %s"|format(address.firstName, address.lastName)) }}>{{ address.firstName }} {{ address.lastName }}</span><br>
{% else %}
    <strong {{ sylius_test_html_attribute('full-name', "%s %s"|format(address.firstName, address.lastName)) }}>{{ address.firstName }} {{ address.lastName }}</strong><br>
    {% if address.taxCode %}
        {{ 'webgriffe_sylius_italian_invoiceable_order.ui.address.tax_code_short'|trans }}:
        {{ address.taxCode }}<br />
    {% endif %}
    {% if address.company %}
        {{ address.company }}<br/>
    {% endif %}
{% endif %}
